In [1]:
import pandas as pd

In [2]:
dataset = pd.read_excel("C:/ML Course/Datasets/logistic.xlsx")
dataset

    age  salary  purchase
0    20  107580         1
1    37   61291         1
2    47   83240         1
3    24   71021         0
4    21   63307         1
..  ...     ...       ...
95   25  144067         0
96   25  137236         1
97   25   49766         0
98   35   88938         1
99   34  130408         0

[100 rows x 3 columns]

In [3]:
dataset["purchase"].value_counts()

purchase
1    58
0    42
Name: count, dtype: int64

In [4]:
x = dataset.iloc[:,:-1]
y = dataset["purchase"]

In [5]:
from imblearn.under_sampling import RandomUnderSampler

In [6]:
ru=RandomUnderSampler()
ru_x, ru_y = ru.fit_resample(x,y)

In [7]:
ru_y.value_counts()

purchase
0    42
1    42
Name: count, dtype: int64

In [9]:
from imblearn.over_sampling import RandomOverSampler

In [10]:
ro = RandomOverSampler()
ro_x, ro_y = ro.fit_resample(x,y)

In [11]:
ro_y.value_counts()

purchase
1    58
0    58
Name: count, dtype: int64