In [1]:
import pandas as pd

In [6]:
dict1 = {
    "Animals":['Cow','Horse','Dog','Tiger','Rabbit'],
    "Shelter":['Shed','Stable','Kennel','Cave','Hutch']
}

In [7]:
df = pd.DataFrame(dict1)

In [8]:
df

  Animals Shelter
0     Cow    Shed
1   Horse  Stable
2     Dog  Kennel
3   Tiger    Cave
4  Rabbit   Hutch

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [12]:
le.fit_transform(df["Animals"])

array([0, 2, 1, 4, 3])

In [13]:
df["en_name"]=le.fit_transform(df["Animals"])
df

  Animals Shelter  en_name
0     Cow    Shed        0
1   Horse  Stable        2
2     Dog  Kennel        1
3   Tiger    Cave        4
4  Rabbit   Hutch        3